## Pandas

### Three fundermental Pandas data Structures 

#### Series as a generalized Numpy Array

In [1]:
import pandas as pd

data = pd.Series([0.25,0.5,0.75,1.0])
print(data)
data.values, data.index, data[1]

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

(array([0.25, 0.5 , 0.75, 1.  ]),
 RangeIndex(start=0, stop=4, step=1),
 np.float64(0.5))

In [15]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['apple','banana','cabbage','donuts'])
data2 = pd.Series([0,2,3,4], index=[2,3,4,5])
data , data2

(apple      0.25
 banana     0.50
 cabbage    0.75
 donuts     1.00
 dtype: float64,
 2    0
 3    2
 4    3
 5    4
 dtype: int64)

#### Series as a specialized dictionary

In [2]:
population_dict = {
'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135
}

population = pd.Series(population_dict)
# population['California':'Florida'].values

array([38332521, 26448193, 19651127, 19552860], dtype=object)

### The Pandas DataFrame Object

#### DataFrame as a generalized NumPy Array

In [40]:
import pandas as pd

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'Population':population, 'Area':area})
states['Population Density'] = states['Population'] / states['Area']
print(states)

            Population    Area  Population Density
California    38332521  423967           90.413926
Texas         26448193  695662           38.018740
New York      19651127  141297          139.076746
Florida       19552860  170312          114.806121
Illinois      12882135  149995           85.883763

In [13]:
import pandas as pd

population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

area_dict = {'California': 423967, 'Texas'Florida       170312
: 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}

population = pd.Series(population_dict)
area = pd.Series(area_dict)

states_dict = {'population': population, 'area': area }
states = pd.DataFrame(states_dict)

print(states)
states['area']

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### DataFrame as a specialized Dictionary

In [30]:
import numpy as np
import pandas as pd
dtype = [('A','i8'),('B','f8')]
A = np.zeros(3, dtype = dtype)
print(A)
Adata = pd.DataFrame(A)
print(Adata)
# Aindex = pd.Index(A)
# Aindex[:2]

[(0, 0.) (0, 0.) (0, 0.)]
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])
ind[::2]

Index([2, 5, 11], dtype='int64')

#### Practice

In [71]:
# Exercise 

import pandas as pd
import numpy as np

file = pd.read_csv('president.csv')
data = np.array(file)
data[:,0], data[:,1], data[:,2]
# np.hsplit(data,3)[0] ~ data[:,0]
# Now we assign them using DataFrame and Series from the pandas Library

presidents = pd.Series(data[:,1], index=data[:,0])
heights = pd.Series(data[:,2], index=data[:,0])
# info_dict = {'Presidents': presidents, 'heights':heights}
# info = pd.DataFrame(info_dict) 

info = pd.DataFrame(data[:,1:], columns=['Presidents','Heights'] , index=data[:,0])
info

                Presidents Heights
1        George Washington     189
2               John Adams     170
3         Thomas Jefferson     189
4            James Madison     180
5             James Monroe     175
6        John Quincy Adams     160
7           Andrew Jackson     185
8         Martin Van Buren     170
9   William Henry Harrison     165
10              John Tyler     168
11          Zachary Taylor     172
12        Millard Fillmore     178
13         Franklin Pierce     182
14          James Buchanan     174
15         Abraham Lincoln     190
16          Andrew Johnson     177
17        Ulysses S. Grant     188
18     Rutherford B. Hayes     166
19       James A. Garfield     180
20       Chester A. Arthur     171

### Data Selection and Indexing