## Pandas

### Three fundermental Pandas data Structures 

#### Series as a generalized Numpy Array

In [1]:
import pandas as pd

data = pd.Series([0.25,0.5,0.75,1.0])
print(data)
data.values, data.index, data[1]

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

(array([0.25, 0.5 , 0.75, 1.  ]),
 RangeIndex(start=0, stop=4, step=1),
 np.float64(0.5))

In [15]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['apple','banana','cabbage','donuts'])
data2 = pd.Series([0,2,3,4], index=[2,3,4,5])
data , data2

(apple      0.25
 banana     0.50
 cabbage    0.75
 donuts     1.00
 dtype: float64,
 2    0
 3    2
 4    3
 5    4
 dtype: int64)

#### Series as a specialized dictionary

In [2]:
import pandas as pd
population_dict = {
'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135
}

population = pd.Series(population_dict)
population
# population['California':'Florida'].values

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### The Pandas DataFrame Object

#### DataFrame as a generalized NumPy Array

In [2]:
import pandas as pd

population_dict = {
'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135
}

population = pd.Series(population_dict)
population
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'Population':population, 'Area':area})
states['Population Density'] = states['Population'] / states['Area']
states

            Population    Area  Population Density
California    38332521  423967           90.413926
Texas         26448193  695662           38.018740
New York      19651127  141297          139.076746
Florida       19552860  170312          114.806121
Illinois      12882135  149995           85.883763

In [13]:
import pandas as pd

population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

area_dict = {'California': 423967, 'Texas'Florida       170312
: 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}

population = pd.Series(population_dict)
area = pd.Series(area_dict)

states_dict = {'population': population, 'area': area }
states = pd.DataFrame(states_dict)

print(states)
states['area']

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#### DataFrame as a specialized Dictionary

In [30]:
import numpy as np
import pandas as pd
dtype = [('A','i8'),('B','f8')]
A = np.zeros(3, dtype = dtype)
print(A)
Adata = pd.DataFrame(A)
print(Adata)
# Aindex = pd.Index(A)
# Aindex[:2]

[(0, 0.) (0, 0.) (0, 0.)]
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])
ind[::2]

Index([2, 5, 11], dtype='int64')

#### Practice

In [71]:
# Exercise 

import pandas as pd
import numpy as np

file = pd.read_csv('president.csv')
data = np.array(file)
data[:,0], data[:,1], data[:,2]
# np.hsplit(data,3)[0] ~ data[:,0]
# Now we assign them using DataFrame and Series from the pandas Library

presidents = pd.Series(data[:,1], index=data[:,0])
heights = pd.Series(data[:,2], index=data[:,0])
# info_dict = {'Presidents': presidents, 'heights':heights}
# info = pd.DataFrame(info_dict) 

info = pd.DataFrame(data[:,1:], columns=['Presidents','Heights'] , index=data[:,0])
info

                Presidents Heights
1        George Washington     189
2               John Adams     170
3         Thomas Jefferson     189
4            James Madison     180
5             James Monroe     175
6        John Quincy Adams     160
7           Andrew Jackson     185
8         Martin Van Buren     170
9   William Henry Harrison     165
10              John Tyler     168
11          Zachary Taylor     172
12        Millard Fillmore     178
13         Franklin Pierce     182
14          James Buchanan     174
15         Abraham Lincoln     190
16          Andrew Johnson     177
17        Ulysses S. Grant     188
18     Rutherford B. Hayes     166
19       James A. Garfield     180
20       Chester A. Arthur     171

### Data Selection and Indexing

In [8]:
import pandas as pd

data = pd.Series([0.25,0.5,0.75,1.0], index = ['a','b','c','d'])
data['e'] =0.7 
data
# data.keys()
# list(data.items())

a    0.25
b    0.50
c    0.75
d    1.00
e    0.70
dtype: float64

In [2]:
import numpy 
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0], index = ['a','b','c','d'])
data[(data > 0.3) & (data < 0.8)].sum()
# data.sum()

np.float64(1.25)

### Indexers (loc,iloc and ix)

In [8]:
data = pd.Series(['a', 'b', 'c', 'd'], index=[1, 3, 5,7])
data
print(data.loc[:4])
print()
print(data.iloc[:3])
print(data[:4])

1    a
3    b
dtype: object

1    a
3    b
5    c
dtype: object
1    a
3    b
5    c
7    d
dtype: object

In [43]:
import random
import numpy as np
import pandas as pd
np.random.seed(1)
my_array = np.random.randint(12, size=12).reshape((3,4))
my_array = pd.DataFrame(my_array, columns=['A', 'B', 'C', 'D'] )
my_array

    A   B  C  D
1   5  11  8  9
2  11   5  0  0
3   1   7  6  9

#### Exercise

In [2]:
import pandas as pd
import numpy as np

file = pd.read_json('food_data.json')
data = np.array(file['meals'])
# print(data)
my_array = []
for i ,row in enumerate(data):
    my_array.append([row['strMeal'], row['strArea'],row['strTags'],row['strInstructions']])
my_array = np.array(my_array) 
index_array = np.arange(len(my_array))
index_array += 1 

for i in range(len(my_array)):
    my_array[:,3][i] = str(my_array[:,3][i]).replace('\r\n', '').replace('\\r\\n', '').replace('0.\t', '').replace('\t', '')
    # my_array[:,2][i] = str(my_array[:,2][i]) + ''

    # if my_array[:,2][i] is None:
    #     my_array[:,2][i] = 'No Tag'

data_dict = {
             'Meal Name':my_array[:,0],
             'Origin':my_array[:,1], 
             'Tags ':my_array[:,2], 
             'Instructions':my_array[:,3]
            }
# pd.set_option('display.max_colwidth', None)
my_dataframe = pd.DataFrame(data_dict, index=index_array)
my_dataframe[my_dataframe.isnull()] = 'No Tag'
my_dataframe

,Meal Name,Origin,Tags,Instructions
1,Corba,Turkish,Soup,Pick through your lentils for any foreign debr...
2,Tamiya,Egyptian,No Tag,oak the beans in water to cover overnight.Drai...
3,Lasagne,Italian,No Tag,Heat the oil in a large saucepan. Use kitchen ...
4,Kafteji,Tunisian,No Tag,Peel potatoes and cut into 5cm cubes.Pour 1-2 ...
5,Dal fry,Indian,"Curry,Vegetarian,Cake",Wash and soak toor dal in approx. 3 cups of wa...
6,Big Mac,American,No Tag,"For the Big Mac sauce, combine all the ingredi..."
7,Koshari,Egyptian,No Tag,Cook the lentils. Bring lentils and 4 cups of ...
8,Kapsalon,Dutch,Snack,Cut the meat into strips. Heat oil in a pan an...
9,Stamppot,Dutch,"Savory,Breakfast",Wash and peel the potatoes and cut into simila...
10,Flamiche,French,Tart,"For the pastry, sift the flour and salt into t..."
11,Moussaka,Greek,No Tag,Heat the grill to high. Brown the beef in a de...
12,Pancakes,American,"Breakfast,Desert,Sweet,Fruity","Put the flour, eggs, milk, 1 tbsp oil and a pi..."
13,Shawarma,Egyptian,No Tag,Combine the marinade ingredients in a large zi...
14,Shakshuka,Egyptian,"Egg,Brunch,Breakfast","Heat the oil in a frying pan that has a lid, t..."
15,Yaki Udon,Japanese,LowCalorie,Boil some water in a large saucepan. Add 250ml...
16,Ribollita,Italian,Vegetarian,Put 2 tablespoons of the oil in a large pot ov...
17,Sugar Pie,Canadian,"Pie,Desert",Preheat oven to 350 degrees F (175 degrees C)....
18,Rock Cakes,British,"Baking,Cake",Preheat oven to 180C/350F/Gas 4 and line a bak...
19,Pad See Ew,Thai,Pasta,Mix Sauce in small bowl.Mince garlic into wok ...
20,Rappie Pie,Canadian,Pie,Preheat oven to 400 degrees F (200 degrees C)....
21,Ma Po Tofu,Chinese,No Tag,Add a small pinch of salt and sesame oil to mi...
22,Coq au vin,French,No Tag,"Heat 1 tbsp of the oil in a large, heavy-based..."
23,Nasi lemak,Malaysian,No Tag,"In a medium saucepan over medium heat, stir to..."
24,Apam balik,Malaysian,No Tag,"Mix milk, oil and egg together. Sift flour, ba..."
25,Beef Asado,Filipino,No Tag,"Combine beef, crushed peppercorn, soy sauce, v..."

#### UFuncs: Index Alignment

In [30]:
import pandas as pd
import random as rng
import numpy as np
# A = pd.Series([2, 4, 6], index=[0, 1, 2])
# B = pd.Series([1, 3, 5], index=[1, 2, 3])
# A.add(B,fill_value =0)


A = pd.DataFrame(np.arange(0, 20).reshape((2,10)))
print(A)
# B = pd.DataFrame(np.arange(0, 10).reshape((3,3)),columns=list('BAC'))
# print(B)

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19

In [39]:
import numpy as np
import random
import pandas as pd
random.seed(0)
array_a = np.random.randint(6, size=8)
array_b = np.random.randint(6,size=7)
series_a = pd.Series(array_a, index=[1,2,3,4,5,6,7,8])
series_b = pd.Series(array_b, index=[1,2,3,4,5,6,7])
series_a.add(series_b,fill_value = 0)

1     3.0
2     3.0
3    10.0
4     4.0
5     5.0
6     6.0
7     8.0
8     2.0
dtype: float64

#### Handling Missing data

In [82]:
# vals1 = np.array([1, None, 3, 4])  
# vals1.sum()
import numpy as np
vals2 = np.array([1, np.nan, 3, 4])
print(np.nansum(vals2))
print(np.sum(vals2))
# np.nansum, np.nanmax, np.nanmin  // Handling numerical missing data

8.0
nan

#### Operating on Null Values

In [92]:
data = pd.Series([1, np.nan, 2, None])
data[data.isnull()] = 0
# data[data.notnull()].sum()

data

0    1.0
1    0.0
2    2.0
3    0.0
dtype: float64

##### isnull()
##### Generate a Boolean mask indicating missing values
##### notnull()
##### Opposite of isnull()
##### dropna()
##### Return a filtered version of the data
##### fillna()
##### Return a copy of the data with missing values filled or imputed

#### Multiply Indexed Series

In [1]:
import numpy as np
import pandas as pd

index = [('California', 2000), ('California', 2010),('New York', 2000), ('New York', 2010),
('Texas', 2000), ('Texas', 2010)]

populations = [33871648, 37253956,
18976457, 19378102,
20851820, 25145561]

pop = pd.Series(population , index = index)

index = pd.MultiIndex.from_tuples(index)
index   
pop = pop.reindex(pop)

pop

NameError: name 'population' is not defined

In [11]:
import numpy as np
import pandas as pd
np.random.seed(0)

index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['Subject', 'Type'])
# print(index)
# print(columns)
data  = np.abs(np.random.random(24)).reshape((4,6))
data *= 100
# data1 = pd.Series(data[:,0])
# data2 = pd.Series(data[:,1])
# data3 = pd.Series(data[:,2])
# data4 = pd.Series(data[:,3])
# data5 = pd.Series(data[:,4])
# data6 = pd.Series(data[:,5])
full_d = pd.DataFrame(data ,index=index, columns=columns)
full_d

Subject           Bob                 Guido                   Sue
Type               HR       Temp         HR       Temp         HR       Temp
year visit
2013 1      54.881350  71.518937  60.276338  54.488318  42.365480  64.589411
     2      43.758721  89.177300  96.366276  38.344152  79.172504  52.889492
2014 1      56.804456  92.559664   7.103606   8.712930   2.021840  83.261985
     2      77.815675  87.001215  97.861834  79.915856  46.147936  78.052918

In [2]:
import numpy as np
import pandas as pd

index = pd.MultiIndex.from_product([['a','c','b'], [1,2]])
data = pd.Series(np.random.rand(6), index= index)
data.index.names = ['char', 'int']
print(data)
data.sort_index()

char  int
a     1      0.879593
      2      0.537158
c     1      0.564375
      2      0.597359
b     1      0.981746
      2      0.354971
dtype: float64

char  int
a     1      0.879593
      2      0.537158
b     1      0.981746
      2      0.354971
c     1      0.564375
      2      0.597359
dtype: float64

#### Simple concatination with pd.concat

In [4]:
import pandas as pd

ser1 = pd.Series(['A','B','C'], index=[1,2,3])
ser2 = pd.Series(['E','F','G'], index=[6,5,4])
allser = pd.concat([ser1,ser2])
allser.sort_index()
# pd.merge(ser1,ser2)

1    A
2    B
3    C
4    G
5    F
6    E
dtype: object

### Joins

In [22]:
import numpy as np
import pandas as pd

df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'] )

df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                    columns=['name', 'drink'])

all_pd  = pd.merge(df6,df7 ,how = 'outer', on='name') # Outer join , inner join use (inner)
# You can also use it based on the column. eg : (how = 'outer', on = 'name') 

all_pd.loc[all_pd['food'].isnull(), 'food'] = 'No food'
all_pd.isnull().any()
all_pd.loc[all_pd['drink'].isnull(), 'drink'] = 'No drink'
all_pd.index  = np.arange(1, len(all_pd)+1)
all_pd
# all_merge = pd.merge(df6,df7, on='name' , how= 'outer') 
# all_merge

     name     food     drink
1  Joseph  No food      beer
2    Mary    bread      wine
3    Paul    beans  No drink
4   Peter     fish  No drink

Hereâ€™s a basic example of using Invoke-WebRequest:


Invoke-WebRequest -Uri https://example.com -OutFile example.html

-Uri: Specifies the URL to send the request to.
-OutFile: Specifies the path where the content will be saved.

In this example, the content from https://example.com will be downloaded and saved as example.html in the current directory.

In [69]:
# US STATES DATA 
import numpy as np
import pandas as pd

stateabv = pd.read_csv('state-abbrevs.csv')
stateareas = pd.read_csv('state-areas.csv')
statepop = pd.read_csv('state-population.csv')
pd.options.mode.copy_on_write = True
states = pd.merge(stateabv, stateareas, how = 'outer', on = 'state') 
# states[states.isnull()] = 'No Code'
abv = states['abbreviation']
abv[abv.isnull()] = 'None'
states.index = np.arange(1,len(states)+1)

# stateabv.head(), stateareas.head(), statepop.head()

# data = pd.merge(states, statepop, how= 'outer', left_on = 'state', right_on = 'state/region')
# data

data = pd.merge(statepop,stateabv, how= 'outer', left_on = 'state/region', right_on = 'abbreviation')
data.index = np.arange(1,len(data)+1)
states

# if data.isnull().any() is False:
#    data[data.isnull()] = 'None'

data.isnull().any()  # Checking if any data is null 

data[data['population'].isnull()] # Displays the null part of the data for population

# data.loc[data['state'].isnull(), 'state/region'].unique()

# data[data['state'].isnull()] = 'Puerto Rico'
            
data.loc[data['state/region'] == 'PR' , 'state' ] = 'Puerto Rico'
data.loc[data['state/region']=='USA' , 'state'] = 'America'
data[data['population'].isnull()]

# if data['state/region'].any() == 'AK':
#     data['state/region']  
data.loc[data['state'] == 'America', 'state/region']

data.loc[data['state/region'] == 'USA'] # Displaying all data (data) where state/region equals USA

# data2000 = data.loc[data['year'] >= 2000]  
# data2000
# data2000.head()


final = pd.merge(data, stateareas, on = 'state', how='left')
final.loc[final['state/region'] == 'WY']
final.isnull().any()

final.loc[final['abbreviation'].isnull()]

final.loc[final['state/region'] == 'PR', 'abbreviation'] = 'PR'

final.loc[final['state/region'] == 'PR']

final.loc[final['state/region'] == 'USA', 'abbreviation'] = 'USA'

final.isnull().any()

# Dealing with area 
final.loc[final['area (sq. mi)'].isnull(), 'state']
final.loc[final['area (sq. mi)'].isnull()] = 0 
final.isnull().any()

#Dealing with population 
final.loc[final['population'].isnull()] = 0
final.isnull().any()

# Missing data corrected :)
final_data = final

final_data
final_data.index = np.arange(1,len(final_data)+1)

final_data.isnull().any()
final_data['Population Density'] = final_data['population'] / final_data['area (sq. mi)']
final_data.loc[final_data['year'] == 2010]

query_data = final_data.query("year == 2010 & ages == 'total'") # require numexpr to be installed  
query_data = query_data.sort_values(by= 'Population Density')
query_data

,state/region,ages,year,population,state,abbreviation,area (sq. mi),Population Density
44,AK,total,2010,713868.0,Alaska,AK,656425.0,1.087509
2502,WY,total,2010,564222.0,Wyoming,WY,97818.0,5.768079
1254,MT,total,2010,990527.0,Montana,MT,147046.0,6.736171
1350,ND,total,2010,674344.0,North Dakota,ND,70704.0,9.537565
2059,SD,total,2010,816211.0,South Dakota,SD,77121.0,10.583512
1579,NM,total,2010,2064982.0,New Mexico,NM,121593.0,16.982737
630,ID,total,2010,1570718.0,Idaho,ID,83574.0,18.794338
1435,NE,total,2010,1829838.0,Nebraska,NE,77358.0,23.654153
1590,NV,total,2010,2703230.0,Nevada,NV,110567.0,24.448796
2214,UT,total,2010,2774424.0,Utah,UT,84904.0,32.677188
774,KS,total,2010,2858910.0,Kansas,KS,82282.0,34.745266
1051,ME,total,2010,1327366.0,Maine,ME,35387.0,37.509990
1819,OR,total,2010,3837208.0,Oregon,OR,98386.0,39.001565
284,CO,total,2010,5048196.0,Colorado,CO,104100.0,48.493718
1734,OK,total,2010,3759263.0,Oklahoma,OK,69903.0,53.778278
619,IA,total,2010,3050314.0,Iowa,IA,56276.0,54.202751
142,AR,total,2010,2922280.0,Arkansas,AR,53182.0,54.948667
150,AZ,total,2010,6408790.0,Arizona,AZ,114006.0,56.214497
1147,MN,total,2010,5310337.0,Minnesota,MN,86943.0,61.078373
1206,MS,total,2010,2970047.0,Mississippi,MS,48434.0,61.321530
2347,VT,total,2010,625793.0,Vermont,VT,9615.0,65.085075
2454,WV,total,2010,1854146.0,West Virginia,WV,24231.0,76.519582
1195,MO,total,2010,5996063.0,Missouri,MO,69709.0,86.015622
2443,WI,total,2010,5689060.0,Wisconsin,WI,65503.0,86.851900
870,LA,total,2010,4545392.0,Louisiana,LA,51843.0,87.676099
52,AL,total,2010,4785570.0,Alabama,AL,52423.0,91.287603
2155,TX,total,2010,25245178.0,Texas,TX,268601.0,93.987655
2395,WA,total,2010,6742256.0,Washington,WA,71303.0,94.557817
1062,MI,total,2010,9876149.0,Michigan,MI,96810.0,102.015794
859,KY,total,2010,4347698.0,Kentucky,KY,40411.0,107.586994
571,HI,total,2010,1363731.0,Hawaii,HI,10932.0,124.746707
1483,NH,total,2010,1316614.0,New Hampshire,NH,9351.0,140.799273
1974,SC,total,2010,4636361.0,South Carolina,SC,32007.0,144.854594
2070,TN,total,2010,6356683.0,Tennessee,TN,42146.0,150.825298
486,GA,total,2010,9713248.0,Georgia,GA,59441.0,163.409902
1339,NC,total,2010,9559533.0,North Carolina,NC,53821.0,177.617157
726,IN,total,2010,6489965.0,Indiana,IN,36420.0,178.197831
2262,VA,total,2010,8024417.0,Virginia,VA,42769.0,187.622273
715,IL,total,2010,12839695.0,Illinois,IL,57918.0,221.687472
198,CA,total,2010,37333601.0,California,CA,163707.0,228.051342
1723,OH,total,2010,11545435.0,Ohio,OH,44828.0,257.549634
1830,PA,total,2010,12710472.0,Pennsylvania,PA,46058.0,275.966651
476,FL,total,2010,18846054.0,Florida,FL,65758.0,286.597129
1638,NY,total,2010,19398228.0,New York,NY,54475.0,356.094135
428,DE,total,2010,899711.0,Delaware,DE,1954.0,460.445752
966,MD,total,2010,5787193.0,Maryland,MD,12407.0,466.445797
955,MA,total,2010,6563263.0,Massachusetts,MA,10555.0,621.815538
294,CT,total,2010,3579210.0,Connecticut,CT,5544.0,645.600649
1963,RI,total,2010,1052669.0,Rhode Island,RI,1545.0,681.339159
1494,NJ,total,2010,8802707.0,New Jersey,NJ,8722.0,1009.253268
1915,PR,total,2010,3721208.0,Puerto Rico,PR,3515.0,1058.665149
342,DC,total,2010,605125.0,District of Columbia,DC,68.0,8898.897059